
doctype html
<!--[if lte IE 8]>
|<html lang="#{data_lang}" class="lte-ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
|<html lang="#{data_lang}">
<!--<![endif]-->
head
  meta(charset='utf-8')
  block title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block style
  script(type='text/javascript', src='../html2canvas.min.js')
  //if ga_id
  //  +ga(ga_id)

body
  block IEcondition

  block sidebar
  .container
    main#main
      block header
      block content
  input(type="button", id="toImg", value="to img",onclick="renderImg();")
    
//  block footer
script.
  var $ele = document.getElementById('toImg')
  function renderImg() {
    var $canvas = document.getElementsByTagName('canvas')
    for(let ele of $canvas) {
      document.body.removeChild(ele)
    }
    html2canvas(document.getElementById('main')).then(function(canvas) {
      document.body.appendChild(canvas);
  });
  }
|</html>